body{
    background: linear-gradient(166deg,  #0BB19E 20%, #172B4D 90% );
    
}

.card{

    
    
    margin: 2em;
    background-color:#F7FAFC;
    border-radius: 6px;
    width: 40em;
    height: auto;
    padding: 40px;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);


    text-align: center;
 
    
}

.container{
    display: flex;
    flex-direction: column;
    
}

.form-control
{
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;

    display: block;

    width: 100%;
    height: 2; 
    padding: .625rem .75rem;

    transition: all .15s cubic-bezier(.68, -.55, .265, 1.55); 

    color: black;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 2px rgba(233, 236, 239, .05);
}

.btn{


    font-weight: 600;
    line-height: 1.5;
    display: inline-block;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: center;
    vertical-align: middle;
    color: #525f7f;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #fff;
    border-color: #5e72e4;
    background-color: #5e72e4;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%);
    font-size: .875rem;
    position: relative;
    transition: all .15s ease;
    letter-spacing: .025em;
    text-transform: none;

   
}

.fakeBr{
    margin-bottom: 20px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
.custom-file-input::before {
content: 'Select an Image';
display: inline-block;
background: linear-gradient(top, #f9f9f9, #e3e3e3);
border: 1px solid #999;
border-radius: 3px;
padding: 5px 8px;
outline: none;
white-space: nowrap;
cursor: pointer;
text-shadow: 1px 1px #fff;
font-weight: 700;
font-size: 10pt;
}
.custom-file-input:hover::before {
border-color: black;
}
.custom-file-input:active::before {
background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.imgstd
{
    max-height: 200px; 
    min-height: flex;
    width: auto    
}

.imgstd
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.overlay{
    background-color:white;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  
  
  }