.content-person{
    background-color: #fff4ec; 
    height: fit-content !important; 
    margin:2em; 
    box-shadow: 7px 10px #888888; 
    border-radius: 3px;
    box-sizing: border-box !important;
    padding-bottom: 2em;
}

.name{
   position:relative;
   top:0.5rem;
   right:0rem;
   margin-top: 20px;
   /* font-family: 'Acme';font-size: 22px; */
   font-family: 'Alata';font-size: 22px;
}

.name-text{
    margin: 1.5rem;
    color: #002147;
    font-weight: 1000;
    font-size:1.5rem;
}

.desc{
    margin: 1.5rem;
    color: #002147;
    font-weight: 500;
    font-size:1.3rem;
    margin-bottom: 5rem;
}